.footer{
    &__content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__data{
        font-size: 14px;
        line-height: 1.35;    
    }
    &__creator{
        font-size: 14px;
        line-height: 1.35;
    }
}