.session {
  margin-top: 150px;
  margin-bottom: 150px;
  &__list {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &__element {
    &--first {
      grid-row: span 2 / span 2;
    }
    &--another {
      height: 258px;
    }
  }
  &__link {
    background-image: url(../../image/session1.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    font-family: var(--secondary-font);
    font-size: 24px;
    line-height: 1.41;
    font-weight: 700;
  }
  &__element--first &__bottom {
    padding: 0 50px 50px 50px;
  }
  &__link:hover &__bottom {
    border-color: #018abe;
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 40px 30px 40px;
    border-bottom: 7px solid transparent;
    transition: border-color ease-in-out 0.3s;
  }
}
